<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PROVEEDOR" value ="System.Data.SqlClient"/>
    <add key="CADENA" value="Data Source=PC-5C43CB40BD02;Initial Catalog=Biblioteca;Integrated Security=SSPI;"/>

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>